@font-face {
    font-family: SourceSansPro-Bold;
    src: url(./assets/fonts/SourceSansPro-Bold.otf);
}

* {
    text-decoration: none;
}

header{
    background-color: rgb(165, 165, 209);
}

.header-links{
    
}

.header-links a{
    color: white;
}